@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

.main-page {
  margin-top: -230px;
  margin-left: 5%;
  transform: translate(0%, 100%);
}
.main-page h1 {
  font-family: "Play", sans-serif;
  font-size: 70px;
  font-weight: bolder;
  color: rgb(87, 119, 207);
  margin-bottom: 10px;
}

.main-page h5 {
  width: 50%;
  /* font-size: 30px; */
  /* margin-top: -30px; */
  color: rgb(36, 36, 36);
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
}
.image-div {
  /* max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0; */

  margin: -3% 0% -23% 0%;
  width: 35%;
}

/* .main-title-heading {
  margin-top: -150px !important;
  margin-bottom: 10px;
}
.main-title-heading h5 {
  margin-top: -90px !important;
} */
.main-form {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.form-heading {
  text-align: center;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
  /* position: fixed; */
  /* margin-bottom: 5rem; */
}
.main-title-heading-hub {
  /* background-color: rgba(255, 166, 0, 0.76); */
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.login-form {
  margin-top: 5rem !important;

}
.signup-form {
  overflow-x: auto;
  height: 30rem;
}
.signup-form::-webkit-scrollbar-thumb {
  background: #d0d3e0;
  border-radius: 10px;
}
.signup-form::-webkit-scrollbar-thumb:hover {
  background: #bdc3db;
  border-radius: 10px;
}
.signup-form form {
  padding-right: 20px;
}
.text-center{
  margin-top: 10px;
}
